/*inherit, will tell the targeted elements to use the same value as the parent element*/
/*The ::before selector creates a pseudo-element which is the first child of the selected element, 
while the ::after selector creates a pseudo-element which is the last child of the selected element.*/
*, ::before, ::after {
    box-sizing: inherit;
 }

/*Browsers can apply default margin and padding values to specific elements. 
To make sure your piano looks correct, you need to reset the box model.*/
html {
    box-sizing: border-box;
  }

  #piano {
    position: relative;
    background-color: #00471b;
    width: 992px;
    height: 290px;
    margin: 80px auto;
    padding: 90px 20px 0 20px;;
  }

  .keys {
    background-color: #040404;
    width: 949px;
    height: 180px;
    padding-left: 2px;
  }

  .key {
    background-color: #ffffff;
    position: relative;
    width: 41px;
    height: 175px;
    margin: 2px;
    float: left;
  }

  /*The content property is used to set or override the content of the element. By default, the 
  pseudo-elements created by the ::before and ::after pseudo-selectors are empty, and the elements 
  will not be rendered to the page. Setting the content property to an empty string "" will ensure 
  the element is rendered to the page while still being empty.*/
  .key.black--key::after {
    background-color: #1d1e22;
    width: 32px;
    height: 100px;
    content: "";
    position: absolute;
    left: -18px;
  }

  .logo {
    position: absolute;
    width: 200px;
    top:23px;
  }