/*inherit, will tell the targeted elements to use the same value as the parent element*/
/*The ::before selector creates a pseudo-element which is the first child of the selected element, 
while the ::after selector creates a pseudo-element which is the last child of the selected element.*/
*, ::before, ::after {
    box-sizing: inherit;
 }

/*Browsers can apply default margin and padding values to specific elements. 
To make sure your piano looks correct, you need to reset the box model.*/
html {
    box-sizing: border-box;
  }

  #piano {
    background-color: #00471b;
    width: 992px;
    height: 290px;
    margin: 80px auto;
  }

  .keys {
    background-color: #040404;
    width: 949px;
    height: 180px;
    padding-left: 2px;
    padding: 90px 20px 0 20px;
  }